<footer class="b-top">
  <div class="super-center mt-8">
    <%= image_tag "logo.png", class: "avatar" %>
    <span>© 2023 Portfolio, Inc. Author: <%= link_to 'Hadrien Bourgoin', 'https://www.linkedin.com/in/hadrien-bourgoin/', class: "linkedin" %><span><br>
  </div>
  <div class="super-center super-grid">
    <p><%= link_to 'Terms', terms_path %></p>
    <p><%= link_to 'Contact', contact_path %></p>
    <p><%= link_to 'About', 'https://www.linkedin.com/in/hadrien-bourgoin/', target: :_blank %></p>
  </div>
</footer>
